<div>
  <div class="navigation" *ngFor="let serial of serials; let last = last">
    <span class="link" (click)="serialSelected(serial)">{{serial.label}}</span>{{last ? '' : ' | '}}
  </div>
  <app-serial [serial]="selectedSerial"></app-serial>
</div>
