<div class=header-wrapper>
  <div>
    <div>
      <span class="header">{{serial?.header}}</span>
      <span>({{serial?.year}})</span>
    </div>
    <div>
      Stars:
        <span *ngFor="let star of serial?.stars; let last = last" >{{star}}{{last ? '' : ', '}}</span>
    </div>
  </div>
  <div>
    <div>
      Reviews: {{serial?.reviews}}
    </div>
    <div>
      Comments: {{serial?.comments}}
    </div>
  </div>
</div>
<hr>

<span>{{serial?.description}}</span>
